In [1]:
import numpy as np
import pandas as pd
from scipy import constants

In [2]:
virgo_galaxy = pd.read_csv("Virgo_galaxy_catalog.csv")

virgo_galaxy.head()

,EVCC,VCC,NGC,RAJ2000,DEJ2000,Offset,cz,MmI,MmV,MTyp1,...,gmag,rmag,imag,zmag,Rad,R50,DR7,Sloan,Simbad,NED
0,2,0,NaN,175.2362,14.0745,1.346,977.9,M,,S,...,16.16,15.82,15.50,15.13,36.20,7.59,DR7,Sloan,Simbad,NED
1,3,0,3810,175.2449,11.4711,0.481,999.3,M,,Sc,...,11.04,10.50,10.24,10.01,137.27,34.31,DR7,Sloan,Simbad,NED
2,4,0,NaN,175.4609,15.9737,0.469,753.1,M,,Irr(HSB),...,14.60,14.12,13.91,13.77,26.02,5.93,DR7,Sloan,Simbad,NED
3,5,0,NaN,175.5747,14.9949,16.602,1021.5,M,,Irr(LSB),...,15.54,15.42,15.08,15.52,106.17,22.43,DR7,Sloan,Simbad,NED
4,6,0,NaN,175.6224,18.3327,1.506,906.5,M,,Sc,...,13.32,12.99,12.83,12.95,101.42,21.45,DR7,Sloan,Simbad,NED

In [3]:
R_VIRGO = 2 * 10**6 * constants.parsec # m
SOLAR_MASS = 1.9891 * 10**30 # kg

In [4]:
cz_mean = virgo_galaxy["cz"].mean()
print(f"cz_mean: {cz_mean:e} km/s", )

cz_mean: 1.036195e+03 km/s

In [5]:
cz_std = virgo_galaxy["cz"].std()
print(f"cz_std: {cz_std:e} km/s")

cz_std: 5.614492e+02 km/s

In [6]:
sigma = cz_std * 1000 # m/s
M_dynamic = ((constants.pi * sigma**2 * R_VIRGO)/constants.G) # kg
print(f"Mass from σ: {M_dynamic/SOLAR_MASS:e} M☉")

Mass from σ: 4.603509e+14 M☉

In [7]:
def zmag_to_mass(z_mag):
    global solar_mass
    d = 20 * 10**6 # pc
    zmag_abs = z_mag + 5*np.log10(10/d)
    zmag_abs_sun = 4.5
    flux_relative_sun = 10**((zmag_abs_sun-zmag_abs)/2.5)
    return flux_relative_sun # solar mass

mass_arr = virgo_galaxy["zmag"].apply(zmag_to_mass)

In [8]:
M_star = mass_arr.sum()
print(f"Mass from stars: {M_star:e} M☉")

Mass from stars: 3.303712e+12 M☉